@import '_fonts';
@import '_grid';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
}

.legend {
	align-items: center;
	display: flex;
	font-size: 12px;
	margin: 15px 25px;
	.key {
		background-color: #FBD1CE;
		height: 14px;
		margin-right: 5px;
		width: 14px;
	}
}

table { 
	width: 100%; 
	border-collapse: collapse; 
}
td, th { 
	padding: 6px; 
	text-align: left; 
}
th {	
  font-family: 'Gotham-Bold';
	border-bottom: 2px solid #333;
	&.header {
		width: 20%;
	}
	&.monthHeader {
		text-align: center;
	}
}
td {
	border-bottom: 1px solid #EEE;
	text-transform: capitalize;
	&.bg {
		background-color: #FBD1CE;
	}
}


@media only screen and (max-width: 767px) {

}
